@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;

  --color-primary: #010101;
  --color-accent: #22c55e;
  --color-light: #f8f8f8;
  --color-dark-gray: #333333;
  --color-soft-gray: #dadada;
}
